<div id="terminal-panel">
    <div id="terminal-toolbar">
        <div style="display: inline">
            <ul id="tab-header" class="nav nav-tabs no-focus">
                <li>
                    <a href="#" id="add-button" class="tab-link">Add +</a>
                </li>
                <li style="float: right;">
                    <a href="#" id="close-button" class="tab-link">X</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="tab-content" class="tab-content full-height"></div>
</div>