#terminal-panel {
    background-color: lightgrey;
}

.full-height {
    height: 100%;
}

.terminal-container {
    background-color: #2D2E30;
    height: 100%;
}

.tab-link {
    color: #2D2E30;
}

.tab-link:hover {
    color: #2D2E30;
}

.circle-button {
    color: white;
    background-color: #D3D3D3;
    border-radius: 100%;
    width: 13px;
    display: inline-block;
    text-align: center;
    line-height: 12px;
    height: 13px;
    margin-left: 8px;
    border: solid 1px transparent;
    display: inline-block;
    vertical-align: middle;
}

.circle-button:hover {
    background-color: #47484B;
}

.circle-button:active {
    background-color: #2D2E30;
}

div.inlinee {
    float: left;
}